@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: aliceblue;
    width: 100vw;
    overflow-x: hidden;
    padding: 0 !important;
    margin: 0 !important;
    font-family: "Monserrat", sans-serif;
}